DATA_CHANNEL/template/api-minio-1.json
{
    "flowContents": {
      "identifier": "6c4f8132-6757-3360-8410-31d5791aec8f",
      "instanceIdentifier": "38a439ff-bba3-1f4f-3b27-f56948164239",
      "name": "Copy of ad",
      "comments": "",
      "position": {
        "x": 721.0,
        "y": 129.0
      },
      "processGroups": [],
      "remoteProcessGroups": [],
      "processors": [
        {
          "identifier": "de43d765-eece-3dc9-b53d-86aee1ce56d0",
          "instanceIdentifier": "2145319c-6069-1c9f-d349-763061958020",
          "name": "HandleHttpResponse400",
          "comments": "",
          "position": {
            "x": -104.0,
            "y": 776.0
          },
          "type": "org.apache.nifi.processors.standard.HandleHttpResponse",
          "bundle": {
            "group": "org.apache.nifi",
            "artifact": "nifi-standard-nar",
            "version": "1.27.0"
          },
          "properties": {
            "HTTP Context Map": "a9cadc94-9a49-3449-af5b-edcb4f18f1c6",
            "Attributes to add to the HTTP Response (Regex)": null,
            "HTTP Status Code": "400"
          },
          "propertyDescriptors": {
            "HTTP Context Map": {
              "name": "HTTP Context Map",
              "displayName": "HTTP Context Map",
              "identifiesControllerService": true,
              "sensitive": false
            },
            "Attributes to add to the HTTP Response (Regex)": {
              "name": "Attributes to add to the HTTP Response (Regex)",
              "displayName": "Attributes to add to the HTTP Response (Regex)",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "HTTP Status Code": {
              "name": "HTTP Status Code",
              "displayName": "HTTP Status Code",
              "identifiesControllerService": false,
              "sensitive": false
            }
          },
          "style": {},
          "schedulingPeriod": "0 sec",
          "schedulingStrategy": "TIMER_DRIVEN",
          "executionNode": "ALL",
          "penaltyDuration": "30 sec",
          "yieldDuration": "1 sec",
          "bulletinLevel": "WARN",
          "runDurationMillis": 0,
          "concurrentlySchedulableTaskCount": 1,
          "autoTerminatedRelationships": [],
          "scheduledState": "ENABLED",
          "retryCount": 10,
          "retriedRelationships": [],
          "backoffMechanism": "PENALIZE_FLOWFILE",
          "maxBackoffPeriod": "10 mins",
          "componentType": "PROCESSOR",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "e6d0d80b-e82f-3c44-a1ec-3911afe38d56",
          "instanceIdentifier": "21453198-6069-1c9f-00ce-4506b5b77b5a",
          "name": "RouteOnAttribute2",
          "comments": "",
          "position": {
            "x": 256.0,
            "y": 128.0
          },
          "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
          "bundle": {
            "group": "org.apache.nifi",
            "artifact": "nifi-standard-nar",
            "version": "1.27.0"
          },
          "properties": {
            "Routing Strategy": "Route to Property name",
            "ValidJson": "${cbxId:isEmpty():not():and(\n    ${cbxPumpCount:isEmpty():not():and(\n        ${cbxPumpCommunicationId:isEmpty():not():and(\n            ${tankCount:isEmpty():not():and(\n                ${cbxTankCommunicationId:isEmpty():not():and(\n                    ${cbxPumpCommunicationCard:isEmpty():not():and(\n                        ${pumpId:isEmpty():not()}\n                    )}\n                )}\n            )}\n        )}\n    )}\n)}"
          },
          "propertyDescriptors": {
            "Routing Strategy": {
              "name": "Routing Strategy",
              "displayName": "Routing Strategy",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "ValidJson": {
              "name": "ValidJson",
              "displayName": "ValidJson",
              "identifiesControllerService": false,
              "sensitive": false
            }
          },
          "style": {},
          "schedulingPeriod": "0 sec",
          "schedulingStrategy": "TIMER_DRIVEN",
          "executionNode": "ALL",
          "penaltyDuration": "30 sec",
          "yieldDuration": "1 sec",
          "bulletinLevel": "WARN",
          "runDurationMillis": 25,
          "concurrentlySchedulableTaskCount": 1,
          "autoTerminatedRelationships": [],
          "scheduledState": "ENABLED",
          "retryCount": 10,
          "retriedRelationships": [],
          "backoffMechanism": "PENALIZE_FLOWFILE",
          "maxBackoffPeriod": "10 mins",
          "componentType": "PROCESSOR",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "516efc8c-0833-3baf-a7ef-96ed4fd82bef",
          "instanceIdentifier": "21453193-6069-1c9f-9715-c040c3b46c59",
          "name": "EvaluateJsonPath",
          "comments": "",
          "position": {
            "x": -216.0,
            "y": 392.0
          },
          "type": "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "bundle": {
            "group": "org.apache.nifi",
            "artifact": "nifi-standard-nar",
            "version": "1.27.0"
          },
          "properties": {
            "Destination": "flowfile-attribute",
            "Max String Length": "20 MB",
            "Return Type": "scalar",
            "Null Value Representation": "empty string",
            "Path Not Found Behavior": "ignore"
          },
          "propertyDescriptors": {
            "Destination": {
              "name": "Destination",
              "displayName": "Destination",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Max String Length": {
              "name": "Max String Length",
              "displayName": "Max String Length",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Return Type": {
              "name": "Return Type",
              "displayName": "Return Type",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Null Value Representation": {
              "name": "Null Value Representation",
              "displayName": "Null Value Representation",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Path Not Found Behavior": {
              "name": "Path Not Found Behavior",
              "displayName": "Path Not Found Behavior",
              "identifiesControllerService": false,
              "sensitive": false
            }
          },
          "style": {},
          "schedulingPeriod": "0 sec",
          "schedulingStrategy": "TIMER_DRIVEN",
          "executionNode": "ALL",
          "penaltyDuration": "30 sec",
          "yieldDuration": "1 sec",
          "bulletinLevel": "WARN",
          "runDurationMillis": 0,
          "concurrentlySchedulableTaskCount": 1,
          "autoTerminatedRelationships": [],
          "scheduledState": "ENABLED",
          "retryCount": 10,
          "retriedRelationships": [],
          "backoffMechanism": "PENALIZE_FLOWFILE",
          "maxBackoffPeriod": "10 mins",
          "componentType": "PROCESSOR",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "de397840-0245-3a8f-8809-45e88001b1fe",
          "instanceIdentifier": "2145319d-6069-1c9f-3c62-3cc1fc50149f",
          "name": "HandleHttpRequest",
          "comments": "",
          "position": {
            "x": -216.0,
            "y": 192.0
          },
          "type": "org.apache.nifi.processors.standard.HandleHttpRequest",
          "bundle": {
            "group": "org.apache.nifi",
            "artifact": "nifi-standard-nar",
            "version": "1.27.0"
          },
          "properties": {
            "multipart-request-max-size": "5 MB",
            "parameters-to-attributes": null,
            "Allow POST": "true",
            "Hostname": "0.0.0.0",
            "Default URL Character Set": "UTF-8",
            "Allow DELETE": "false",
            "Maximum Threads": "1000",
            "HTTP Protocols": "HTTP_1_1",
            "Additional HTTP Methods": null,
            "container-queue-size": "1000",
            "HTTP Context Map": "a9cadc94-9a49-3449-af5b-edcb4f18f1c6",
            "multipart-read-buffer-size": "5 MB",
            "SSL Context Service": null,
            "Allow OPTIONS": "false",
            "Allowed Paths": "/string",
            "Allow GET": "false",
            "Allow HEAD": "false",
            "Listening Port": "7001",
            "Client Authentication": "No Authentication",
            "Allow PUT": "false"
          },
          "propertyDescriptors": {
            "multipart-request-max-size": {
              "name": "multipart-request-max-size",
              "displayName": "Multipart Request Max Size",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "parameters-to-attributes": {
              "name": "parameters-to-attributes",
              "displayName": "Parameters to Attributes List",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Allow POST": {
              "name": "Allow POST",
              "displayName": "Allow POST",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Hostname": {
              "name": "Hostname",
              "displayName": "Hostname",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Default URL Character Set": {
              "name": "Default URL Character Set",
              "displayName": "Default URL Character Set",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Allow DELETE": {
              "name": "Allow DELETE",
              "displayName": "Allow DELETE",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Maximum Threads": {
              "name": "Maximum Threads",
              "displayName": "Maximum Threads",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "HTTP Protocols": {
              "name": "HTTP Protocols",
              "displayName": "HTTP Protocols",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Additional HTTP Methods": {
              "name": "Additional HTTP Methods",
              "displayName": "Additional HTTP Methods",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "container-queue-size": {
              "name": "container-queue-size",
              "displayName": "Container Queue Size",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "HTTP Context Map": {
              "name": "HTTP Context Map",
              "displayName": "HTTP Context Map",
              "identifiesControllerService": true,
              "sensitive": false
            },
            "multipart-read-buffer-size": {
              "name": "multipart-read-buffer-size",
              "displayName": "Multipart Read Buffer Size",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "SSL Context Service": {
              "name": "SSL Context Service",
              "displayName": "SSL Context Service",
              "identifiesControllerService": true,
              "sensitive": false
            },
            "Allow OPTIONS": {
              "name": "Allow OPTIONS",
              "displayName": "Allow OPTIONS",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Allowed Paths": {
              "name": "Allowed Paths",
              "displayName": "Allowed Paths",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Allow GET": {
              "name": "Allow GET",
              "displayName": "Allow GET",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Allow HEAD": {
              "name": "Allow HEAD",
              "displayName": "Allow HEAD",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Listening Port": {
              "name": "Listening Port",
              "displayName": "Listening Port",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Client Authentication": {
              "name": "Client Authentication",
              "displayName": "Client Authentication",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Allow PUT": {
              "name": "Allow PUT",
              "displayName": "Allow PUT",
              "identifiesControllerService": false,
              "sensitive": false
            }
          },
          "style": {},
          "schedulingPeriod": "0 sec",
          "schedulingStrategy": "TIMER_DRIVEN",
          "executionNode": "ALL",
          "penaltyDuration": "30 sec",
          "yieldDuration": "1 sec",
          "bulletinLevel": "WARN",
          "runDurationMillis": 0,
          "concurrentlySchedulableTaskCount": 10,
          "autoTerminatedRelationships": [],
          "scheduledState": "ENABLED",
          "retryCount": 10,
          "retriedRelationships": [],
          "backoffMechanism": "PENALIZE_FLOWFILE",
          "maxBackoffPeriod": "10 mins",
          "componentType": "PROCESSOR",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "74955784-05d7-39f5-8269-6dcb86caa2a0",
          "instanceIdentifier": "21453195-6069-1c9f-22a1-3f520e598237",
          "name": "HandleHttpResponse200",
          "comments": "",
          "position": {
            "x": 864.0,
            "y": 608.0
          },
          "type": "org.apache.nifi.processors.standard.HandleHttpResponse",
          "bundle": {
            "group": "org.apache.nifi",
            "artifact": "nifi-standard-nar",
            "version": "1.27.0"
          },
          "properties": {
            "HTTP Context Map": "a9cadc94-9a49-3449-af5b-edcb4f18f1c6",
            "Attributes to add to the HTTP Response (Regex)": null,
            "HTTP Status Code": "200"
          },
          "propertyDescriptors": {
            "HTTP Context Map": {
              "name": "HTTP Context Map",
              "displayName": "HTTP Context Map",
              "identifiesControllerService": true,
              "sensitive": false
            },
            "Attributes to add to the HTTP Response (Regex)": {
              "name": "Attributes to add to the HTTP Response (Regex)",
              "displayName": "Attributes to add to the HTTP Response (Regex)",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "HTTP Status Code": {
              "name": "HTTP Status Code",
              "displayName": "HTTP Status Code",
              "identifiesControllerService": false,
              "sensitive": false
            }
          },
          "style": {},
          "schedulingPeriod": "0 sec",
          "schedulingStrategy": "TIMER_DRIVEN",
          "executionNode": "ALL",
          "penaltyDuration": "30 sec",
          "yieldDuration": "1 sec",
          "bulletinLevel": "WARN",
          "runDurationMillis": 0,
          "concurrentlySchedulableTaskCount": 1,
          "autoTerminatedRelationships": [],
          "scheduledState": "ENABLED",
          "retryCount": 10,
          "retriedRelationships": [],
          "backoffMechanism": "PENALIZE_FLOWFILE",
          "maxBackoffPeriod": "10 mins",
          "componentType": "PROCESSOR",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "ef7c55f7-8175-3e15-98ca-2058a885c264",
          "instanceIdentifier": "21453194-6069-1c9f-c2dd-0f23ab7d483c",
          "name": "RouteOnAttribute1",
          "comments": "",
          "position": {
            "x": -760.0,
            "y": 312.0
          },
          "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
          "bundle": {
            "group": "org.apache.nifi",
            "artifact": "nifi-standard-nar",
            "version": "1.27.0"
          },
          "properties": {
            "Routing Strategy": "Route to Property name",
            "auth": "${bearer.token:equals('Bearer AWTHFHSGSHFH6566')}"
          },
          "propertyDescriptors": {
            "Routing Strategy": {
              "name": "Routing Strategy",
              "displayName": "Routing Strategy",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "auth": {
              "name": "auth",
              "displayName": "auth",
              "identifiesControllerService": false,
              "sensitive": false
            }
          },
          "style": {},
          "schedulingPeriod": "0 sec",
          "schedulingStrategy": "TIMER_DRIVEN",
          "executionNode": "ALL",
          "penaltyDuration": "30 sec",
          "yieldDuration": "1 sec",
          "bulletinLevel": "WARN",
          "runDurationMillis": 25,
          "concurrentlySchedulableTaskCount": 1,
          "autoTerminatedRelationships": [],
          "scheduledState": "ENABLED",
          "retryCount": 10,
          "retriedRelationships": [],
          "backoffMechanism": "PENALIZE_FLOWFILE",
          "maxBackoffPeriod": "10 mins",
          "componentType": "PROCESSOR",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "f2762567-e3d0-3b95-bb14-2529345375c2",
          "instanceIdentifier": "2145319a-6069-1c9f-b07e-6709c3793d86",
          "name": "ReplaceText400",
          "comments": "",
          "position": {
            "x": -56.0,
            "y": 576.0
          },
          "type": "org.apache.nifi.processors.standard.ReplaceText",
          "bundle": {
            "group": "org.apache.nifi",
            "artifact": "nifi-standard-nar",
            "version": "1.27.0"
          },
          "properties": {
            "Regular Expression": "(?s)(^.*$)",
            "Replacement Value": "Bad Request - Invalid JSON format!",
            "Evaluation Mode": "Entire text",
            "Text to Prepend": null,
            "Line-by-Line Evaluation Mode": "All",
            "Character Set": "UTF-8",
            "Maximum Buffer Size": "1 MB",
            "Replacement Strategy": "Regex Replace",
            "Text to Append": null
          },
          "propertyDescriptors": {
            "Regular Expression": {
              "name": "Regular Expression",
              "displayName": "Search Value",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Replacement Value": {
              "name": "Replacement Value",
              "displayName": "Replacement Value",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Evaluation Mode": {
              "name": "Evaluation Mode",
              "displayName": "Evaluation Mode",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Text to Prepend": {
              "name": "Text to Prepend",
              "displayName": "Text to Prepend",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Line-by-Line Evaluation Mode": {
              "name": "Line-by-Line Evaluation Mode",
              "displayName": "Line-by-Line Evaluation Mode",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Character Set": {
              "name": "Character Set",
              "displayName": "Character Set",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Maximum Buffer Size": {
              "name": "Maximum Buffer Size",
              "displayName": "Maximum Buffer Size",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Replacement Strategy": {
              "name": "Replacement Strategy",
              "displayName": "Replacement Strategy",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Text to Append": {
              "name": "Text to Append",
              "displayName": "Text to Append",
              "identifiesControllerService": false,
              "sensitive": false
            }
          },
          "style": {},
          "schedulingPeriod": "0 sec",
          "schedulingStrategy": "TIMER_DRIVEN",
          "executionNode": "ALL",
          "penaltyDuration": "30 sec",
          "yieldDuration": "1 sec",
          "bulletinLevel": "WARN",
          "runDurationMillis": 25,
          "concurrentlySchedulableTaskCount": 1,
          "autoTerminatedRelationships": [],
          "scheduledState": "ENABLED",
          "retryCount": 10,
          "retriedRelationships": [],
          "backoffMechanism": "PENALIZE_FLOWFILE",
          "maxBackoffPeriod": "10 mins",
          "componentType": "PROCESSOR",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "a1cf47e3-cfed-31e0-8238-8dc0cae4f8f8",
          "instanceIdentifier": "21453199-6069-1c9f-f5af-1c230e99e47e",
          "name": "ReplaceText200",
          "comments": "",
          "position": {
            "x": 792.0,
            "y": 368.0
          },
          "type": "org.apache.nifi.processors.standard.ReplaceText",
          "bundle": {
            "group": "org.apache.nifi",
            "artifact": "nifi-standard-nar",
            "version": "1.27.0"
          },
          "properties": {
            "Regular Expression": "(?s)(^.*$)",
            "Replacement Value": "Request handled successfully!",
            "Evaluation Mode": "Entire text",
            "Text to Prepend": null,
            "Line-by-Line Evaluation Mode": "All",
            "Character Set": "UTF-8",
            "Maximum Buffer Size": "1 MB",
            "Replacement Strategy": "Regex Replace",
            "Text to Append": null
          },
          "propertyDescriptors": {
            "Regular Expression": {
              "name": "Regular Expression",
              "displayName": "Search Value",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Replacement Value": {
              "name": "Replacement Value",
              "displayName": "Replacement Value",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Evaluation Mode": {
              "name": "Evaluation Mode",
              "displayName": "Evaluation Mode",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Text to Prepend": {
              "name": "Text to Prepend",
              "displayName": "Text to Prepend",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Line-by-Line Evaluation Mode": {
              "name": "Line-by-Line Evaluation Mode",
              "displayName": "Line-by-Line Evaluation Mode",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Character Set": {
              "name": "Character Set",
              "displayName": "Character Set",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Maximum Buffer Size": {
              "name": "Maximum Buffer Size",
              "displayName": "Maximum Buffer Size",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Replacement Strategy": {
              "name": "Replacement Strategy",
              "displayName": "Replacement Strategy",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Text to Append": {
              "name": "Text to Append",
              "displayName": "Text to Append",
              "identifiesControllerService": false,
              "sensitive": false
            }
          },
          "style": {},
          "schedulingPeriod": "0 sec",
          "schedulingStrategy": "TIMER_DRIVEN",
          "executionNode": "ALL",
          "penaltyDuration": "30 sec",
          "yieldDuration": "1 sec",
          "bulletinLevel": "WARN",
          "runDurationMillis": 25,
          "concurrentlySchedulableTaskCount": 1,
          "autoTerminatedRelationships": [],
          "scheduledState": "ENABLED",
          "retryCount": 10,
          "retriedRelationships": [],
          "backoffMechanism": "PENALIZE_FLOWFILE",
          "maxBackoffPeriod": "10 mins",
          "componentType": "PROCESSOR",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "3e39bb9d-c74f-3882-aad8-8a29915f3f85",
          "instanceIdentifier": "21453197-6069-1c9f-569d-61acd13f50c4",
          "name": "MergeRecord",
          "comments": "",
          "position": {
            "x": 328.0,
            "y": 456.0
          },
          "type": "org.apache.nifi.processors.standard.MergeRecord",
          "bundle": {
            "group": "org.apache.nifi",
            "artifact": "nifi-standard-nar",
            "version": "1.27.0"
          },
          "properties": {
            "max-bin-age": "2 minutes",
            "correlation-attribute-name": null,
            "Attribute Strategy": "Keep All Unique Attributes",
            "min-records": "500",
            "max-bin-size": null,
            "record-writer": "0c614f98-6e0c-3a9f-a6f5-1bde1fa1663a",
            "merge-strategy": "Bin-Packing Algorithm",
            "record-reader": "da7282fc-be42-3b54-967e-7e7e1871d8e7",
            "max-records": "500",
            "min-bin-size": "0 B",
            "max.bin.count": "10"
          },
          "propertyDescriptors": {
            "max-bin-age": {
              "name": "max-bin-age",
              "displayName": "Max Bin Age",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "correlation-attribute-name": {
              "name": "correlation-attribute-name",
              "displayName": "Correlation Attribute Name",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Attribute Strategy": {
              "name": "Attribute Strategy",
              "displayName": "Attribute Strategy",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "min-records": {
              "name": "min-records",
              "displayName": "Minimum Number of Records",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "max-bin-size": {
              "name": "max-bin-size",
              "displayName": "Maximum Bin Size",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "record-writer": {
              "name": "record-writer",
              "displayName": "Record Writer",
              "identifiesControllerService": true,
              "sensitive": false
            },
            "merge-strategy": {
              "name": "merge-strategy",
              "displayName": "Merge Strategy",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "record-reader": {
              "name": "record-reader",
              "displayName": "Record Reader",
              "identifiesControllerService": true,
              "sensitive": false
            },
            "max-records": {
              "name": "max-records",
              "displayName": "Maximum Number of Records",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "min-bin-size": {
              "name": "min-bin-size",
              "displayName": "Minimum Bin Size",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "max.bin.count": {
              "name": "max.bin.count",
              "displayName": "Maximum Number of Bins",
              "identifiesControllerService": false,
              "sensitive": false
            }
          },
          "style": {},
          "schedulingPeriod": "1 sec",
          "schedulingStrategy": "TIMER_DRIVEN",
          "executionNode": "ALL",
          "penaltyDuration": "30 sec",
          "yieldDuration": "1 sec",
          "bulletinLevel": "WARN",
          "runDurationMillis": 0,
          "concurrentlySchedulableTaskCount": 1,
          "autoTerminatedRelationships": [
            "original"
          ],
          "scheduledState": "ENABLED",
          "retryCount": 10,
          "retriedRelationships": [],
          "backoffMechanism": "PENALIZE_FLOWFILE",
          "maxBackoffPeriod": "10 mins",
          "componentType": "PROCESSOR",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "d870fd4c-ee50-3239-8ac0-2bb6fb61ada4",
          "instanceIdentifier": "2145319e-6069-1c9f-c781-1ae2a42e7ef4",
          "name": "PutS3Object",
          "comments": "",
          "position": {
            "x": 328.0,
            "y": 744.0
          },
          "type": "org.apache.nifi.processors.aws.s3.PutS3Object",
          "bundle": {
            "group": "org.apache.nifi",
            "artifact": "nifi-aws-nar",
            "version": "1.27.0"
          },
          "properties": {
            "Proxy Host": null,
            "FullControl User List": "${s3.permissions.full.users}",
            "Owner": "${s3.owner}",
            "proxy-configuration-service": null,
            "Cache Control": null,
            "s3-object-remove-tags-prefix": "false",
            "Endpoint Override URL": "http://192.168.76.120:32504/",
            "Multipart Upload Max Age Threshold": "7 days",
            "custom-signer-class-name": null,
            "canned-acl": "${s3.permissions.cannedacl}",
            "custom-signer-module-location": null,
            "Signer Override": "Default Signature",
            "Content Type": null,
            "Write ACL User List": "${s3.permissions.writeacl.users}",
            "server-side-encryption": "None",
            "Read ACL User List": "${s3.permissions.readacl.users}",
            "encryption-service": null,
            "Content Disposition": null,
            "Storage Class": "Standard",
            "Multipart Part Size": "5 GB",
            "use-chunked-encoding": "true",
            "Object Key": "api/data/${now():format('yyyy-MM-dd-HH-mm-ss-SSS','Asia/Ho_Chi_Minh')}-${filename}.snappy.parquet",
            "AWS Credentials Provider service": null,
            "Multipart Threshold": "5 GB",
            "s3-object-tags-prefix": null,
            "SSL Context Service": null,
            "Bucket": "bucket-demo1",
            "Multipart Upload AgeOff Interval": "60 min",
            "use-path-style-access": "false",
            "Write Permission User List": "${s3.permissions.write.users}",
            "Communications Timeout": "30 secs",
            "Credentials File": null,
            "Region": "us-east-1",
            "Read Permission User List": "${s3.permissions.read.users}",
            "Expiration Time Rule": null,
            "proxy-user-name": null,
            "Proxy Host Port": null,
            "s3-temporary-directory-multipart": "${java.io.tmpdir}"
          },
          "propertyDescriptors": {
            "Proxy Host": {
              "name": "Proxy Host",
              "displayName": "Proxy Host",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "FullControl User List": {
              "name": "FullControl User List",
              "displayName": "FullControl User List",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Owner": {
              "name": "Owner",
              "displayName": "Owner",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Access Key": {
              "name": "Access Key",
              "displayName": "Access Key ID",
              "identifiesControllerService": false,
              "sensitive": true
            },
            "proxy-configuration-service": {
              "name": "proxy-configuration-service",
              "displayName": "Proxy Configuration Service",
              "identifiesControllerService": true,
              "sensitive": false
            },
            "Cache Control": {
              "name": "Cache Control",
              "displayName": "Cache Control",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "s3-object-remove-tags-prefix": {
              "name": "s3-object-remove-tags-prefix",
              "displayName": "Remove Tag Prefix",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Endpoint Override URL": {
              "name": "Endpoint Override URL",
              "displayName": "Endpoint Override URL",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Multipart Upload Max Age Threshold": {
              "name": "Multipart Upload Max Age Threshold",
              "displayName": "Multipart Upload Max Age Threshold",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "custom-signer-class-name": {
              "name": "custom-signer-class-name",
              "displayName": "Custom Signer Class Name",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "canned-acl": {
              "name": "canned-acl",
              "displayName": "Canned ACL",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "custom-signer-module-location": {
              "name": "custom-signer-module-location",
              "displayName": "Custom Signer Module Location",
              "identifiesControllerService": false,
              "sensitive": false,
              "resourceDefinition": {
                "cardinality": "MULTIPLE",
                "resourceTypes": [
                  "FILE",
                  "DIRECTORY"
                ]
              }
            },
            "Signer Override": {
              "name": "Signer Override",
              "displayName": "Signer Override",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "proxy-user-password": {
              "name": "proxy-user-password",
              "displayName": "Proxy Password",
              "identifiesControllerService": false,
              "sensitive": true
            },
            "Content Type": {
              "name": "Content Type",
              "displayName": "Content Type",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Secret Key": {
              "name": "Secret Key",
              "displayName": "Secret Access Key",
              "identifiesControllerService": false,
              "sensitive": true
            },
            "Write ACL User List": {
              "name": "Write ACL User List",
              "displayName": "Write ACL User List",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "server-side-encryption": {
              "name": "server-side-encryption",
              "displayName": "Server Side Encryption",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Read ACL User List": {
              "name": "Read ACL User List",
              "displayName": "Read ACL User List",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "encryption-service": {
              "name": "encryption-service",
              "displayName": "Encryption Service",
              "identifiesControllerService": true,
              "sensitive": false
            },
            "Content Disposition": {
              "name": "Content Disposition",
              "displayName": "Content Disposition",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Storage Class": {
              "name": "Storage Class",
              "displayName": "Storage Class",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Multipart Part Size": {
              "name": "Multipart Part Size",
              "displayName": "Multipart Part Size",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "use-chunked-encoding": {
              "name": "use-chunked-encoding",
              "displayName": "Use Chunked Encoding",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Object Key": {
              "name": "Object Key",
              "displayName": "Object Key",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "AWS Credentials Provider service": {
              "name": "AWS Credentials Provider service",
              "displayName": "AWS Credentials Provider Service",
              "identifiesControllerService": true,
              "sensitive": false
            },
            "Multipart Threshold": {
              "name": "Multipart Threshold",
              "displayName": "Multipart Threshold",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "s3-object-tags-prefix": {
              "name": "s3-object-tags-prefix",
              "displayName": "Object Tags Prefix",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "SSL Context Service": {
              "name": "SSL Context Service",
              "displayName": "SSL Context Service",
              "identifiesControllerService": true,
              "sensitive": false
            },
            "Bucket": {
              "name": "Bucket",
              "displayName": "Bucket",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Multipart Upload AgeOff Interval": {
              "name": "Multipart Upload AgeOff Interval",
              "displayName": "Multipart Upload AgeOff Interval",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "use-path-style-access": {
              "name": "use-path-style-access",
              "displayName": "Use Path Style Access",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Write Permission User List": {
              "name": "Write Permission User List",
              "displayName": "Write Permission User List",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Communications Timeout": {
              "name": "Communications Timeout",
              "displayName": "Communications Timeout",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Credentials File": {
              "name": "Credentials File",
              "displayName": "Credentials File",
              "identifiesControllerService": false,
              "sensitive": false,
              "resourceDefinition": {
                "cardinality": "SINGLE",
                "resourceTypes": [
                  "FILE"
                ]
              }
            },
            "Region": {
              "name": "Region",
              "displayName": "Region",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Read Permission User List": {
              "name": "Read Permission User List",
              "displayName": "Read Permission User List",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Expiration Time Rule": {
              "name": "Expiration Time Rule",
              "displayName": "Expiration Time Rule",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "proxy-user-name": {
              "name": "proxy-user-name",
              "displayName": "Proxy Username",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Proxy Host Port": {
              "name": "Proxy Host Port",
              "displayName": "Proxy Host Port",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "s3-temporary-directory-multipart": {
              "name": "s3-temporary-directory-multipart",
              "displayName": "Temporary Directory Multipart State",
              "identifiesControllerService": false,
              "sensitive": false
            }
          },
          "style": {},
          "schedulingPeriod": "0 sec",
          "schedulingStrategy": "TIMER_DRIVEN",
          "executionNode": "ALL",
          "penaltyDuration": "30 sec",
          "yieldDuration": "1 sec",
          "bulletinLevel": "WARN",
          "runDurationMillis": 2000,
          "concurrentlySchedulableTaskCount": 1,
          "autoTerminatedRelationships": [],
          "scheduledState": "ENABLED",
          "retryCount": 10,
          "retriedRelationships": [],
          "backoffMechanism": "PENALIZE_FLOWFILE",
          "maxBackoffPeriod": "10 mins",
          "componentType": "PROCESSOR",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "cd4927b1-5cde-3399-9124-9c0c87684c50",
          "instanceIdentifier": "2145319b-6069-1c9f-546a-0f00201036d2",
          "name": "UpdateAttribute",
          "comments": "",
          "position": {
            "x": -632.0,
            "y": 88.0
          },
          "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
          "bundle": {
            "group": "org.apache.nifi",
            "artifact": "nifi-update-attribute-nar",
            "version": "1.27.0"
          },
          "properties": {
            "Delete Attributes Expression": null,
            "Store State": "Do not store state",
            "canonical-value-lookup-cache-size": "100",
            "bearer.token": "${http.headers.Authorization}",
            "Stateful Variables Initial Value": null
          },
          "propertyDescriptors": {
            "Delete Attributes Expression": {
              "name": "Delete Attributes Expression",
              "displayName": "Delete Attributes Expression",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Store State": {
              "name": "Store State",
              "displayName": "Store State",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "canonical-value-lookup-cache-size": {
              "name": "canonical-value-lookup-cache-size",
              "displayName": "Cache Value Lookup Cache Size",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "bearer.token": {
              "name": "bearer.token",
              "displayName": "bearer.token",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Stateful Variables Initial Value": {
              "name": "Stateful Variables Initial Value",
              "displayName": "Stateful Variables Initial Value",
              "identifiesControllerService": false,
              "sensitive": false
            }
          },
          "style": {},
          "schedulingPeriod": "0 sec",
          "schedulingStrategy": "TIMER_DRIVEN",
          "executionNode": "ALL",
          "penaltyDuration": "30 sec",
          "yieldDuration": "1 sec",
          "bulletinLevel": "WARN",
          "runDurationMillis": 25,
          "concurrentlySchedulableTaskCount": 1,
          "autoTerminatedRelationships": [],
          "scheduledState": "ENABLED",
          "retryCount": 10,
          "retriedRelationships": [],
          "backoffMechanism": "PENALIZE_FLOWFILE",
          "maxBackoffPeriod": "10 mins",
          "componentType": "PROCESSOR",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "3be7971e-4963-3c96-8442-d27c48b1b15a",
          "instanceIdentifier": "21453196-6069-1c9f-a09c-92bde73b53f0",
          "name": "HandleHttpResponse401",
          "comments": "",
          "position": {
            "x": -1024.0,
            "y": 776.0
          },
          "type": "org.apache.nifi.processors.standard.HandleHttpResponse",
          "bundle": {
            "group": "org.apache.nifi",
            "artifact": "nifi-standard-nar",
            "version": "1.27.0"
          },
          "properties": {
            "HTTP Context Map": "a9cadc94-9a49-3449-af5b-edcb4f18f1c6",
            "Attributes to add to the HTTP Response (Regex)": null,
            "HTTP Status Code": "401"
          },
          "propertyDescriptors": {
            "HTTP Context Map": {
              "name": "HTTP Context Map",
              "displayName": "HTTP Context Map",
              "identifiesControllerService": true,
              "sensitive": false
            },
            "Attributes to add to the HTTP Response (Regex)": {
              "name": "Attributes to add to the HTTP Response (Regex)",
              "displayName": "Attributes to add to the HTTP Response (Regex)",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "HTTP Status Code": {
              "name": "HTTP Status Code",
              "displayName": "HTTP Status Code",
              "identifiesControllerService": false,
              "sensitive": false
            }
          },
          "style": {},
          "schedulingPeriod": "0 sec",
          "schedulingStrategy": "TIMER_DRIVEN",
          "executionNode": "ALL",
          "penaltyDuration": "30 sec",
          "yieldDuration": "1 sec",
          "bulletinLevel": "WARN",
          "runDurationMillis": 0,
          "concurrentlySchedulableTaskCount": 1,
          "autoTerminatedRelationships": [],
          "scheduledState": "ENABLED",
          "retryCount": 10,
          "retriedRelationships": [],
          "backoffMechanism": "PENALIZE_FLOWFILE",
          "maxBackoffPeriod": "10 mins",
          "componentType": "PROCESSOR",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "7e873a24-0d21-34b6-89e1-57e3e4c06fab",
          "instanceIdentifier": "21453192-6069-1c9f-3a8c-2b803ae657c3",
          "name": "ReplaceText401",
          "comments": "",
          "position": {
            "x": -840.0,
            "y": 520.0
          },
          "type": "org.apache.nifi.processors.standard.ReplaceText",
          "bundle": {
            "group": "org.apache.nifi",
            "artifact": "nifi-standard-nar",
            "version": "1.27.0"
          },
          "properties": {
            "Regular Expression": "(?s)(^.*$)",
            "Replacement Value": "Token is invalid!",
            "Evaluation Mode": "Entire text",
            "Text to Prepend": null,
            "Line-by-Line Evaluation Mode": "All",
            "Character Set": "UTF-8",
            "Maximum Buffer Size": "1 MB",
            "Replacement Strategy": "Regex Replace",
            "Text to Append": null
          },
          "propertyDescriptors": {
            "Regular Expression": {
              "name": "Regular Expression",
              "displayName": "Search Value",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Replacement Value": {
              "name": "Replacement Value",
              "displayName": "Replacement Value",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Evaluation Mode": {
              "name": "Evaluation Mode",
              "displayName": "Evaluation Mode",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Text to Prepend": {
              "name": "Text to Prepend",
              "displayName": "Text to Prepend",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Line-by-Line Evaluation Mode": {
              "name": "Line-by-Line Evaluation Mode",
              "displayName": "Line-by-Line Evaluation Mode",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Character Set": {
              "name": "Character Set",
              "displayName": "Character Set",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Maximum Buffer Size": {
              "name": "Maximum Buffer Size",
              "displayName": "Maximum Buffer Size",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Replacement Strategy": {
              "name": "Replacement Strategy",
              "displayName": "Replacement Strategy",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Text to Append": {
              "name": "Text to Append",
              "displayName": "Text to Append",
              "identifiesControllerService": false,
              "sensitive": false
            }
          },
          "style": {},
          "schedulingPeriod": "0 sec",
          "schedulingStrategy": "TIMER_DRIVEN",
          "executionNode": "ALL",
          "penaltyDuration": "30 sec",
          "yieldDuration": "1 sec",
          "bulletinLevel": "WARN",
          "runDurationMillis": 25,
          "concurrentlySchedulableTaskCount": 1,
          "autoTerminatedRelationships": [],
          "scheduledState": "ENABLED",
          "retryCount": 10,
          "retriedRelationships": [],
          "backoffMechanism": "PENALIZE_FLOWFILE",
          "maxBackoffPeriod": "10 mins",
          "componentType": "PROCESSOR",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        }
      ],
      "inputPorts": [],
      "outputPorts": [],
      "connections": [
        {
          "identifier": "b852fb36-91bb-3f06-8ff3-bd77044ef170",
          "instanceIdentifier": "214531ab-6069-1c9f-2564-b95dbf98af52",
          "name": "",
          "source": {
            "id": "d870fd4c-ee50-3239-8ac0-2bb6fb61ada4",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "PutS3Object",
            "comments": "",
            "instanceIdentifier": "2145319e-6069-1c9f-c781-1ae2a42e7ef4"
          },
          "destination": {
            "id": "7e4b8f11-1289-3f9b-aeea-612d60e69092",
            "type": "FUNNEL",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "Funnel",
            "comments": "",
            "instanceIdentifier": "21453190-6069-1c9f-1539-29e1b9461784"
          },
          "labelIndex": 1,
          "zIndex": 0,
          "selectedRelationships": [
            "success"
          ],
          "backPressureObjectThreshold": 10000,
          "backPressureDataSizeThreshold": "1 GB",
          "flowFileExpiration": "0 sec",
          "prioritizers": [],
          "bends": [],
          "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute": "",
          "loadBalanceCompression": "DO_NOT_COMPRESS",
          "componentType": "CONNECTION",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "938867c5-b674-3e94-b6a3-34317b53063f",
          "instanceIdentifier": "214531a8-6069-1c9f-c6c0-d76ac7e30c59",
          "name": "",
          "source": {
            "id": "d870fd4c-ee50-3239-8ac0-2bb6fb61ada4",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "PutS3Object",
            "comments": "",
            "instanceIdentifier": "2145319e-6069-1c9f-c781-1ae2a42e7ef4"
          },
          "destination": {
            "id": "7e4b8f11-1289-3f9b-aeea-612d60e69092",
            "type": "FUNNEL",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "Funnel",
            "comments": "",
            "instanceIdentifier": "21453190-6069-1c9f-1539-29e1b9461784"
          },
          "labelIndex": 1,
          "zIndex": 0,
          "selectedRelationships": [
            "failure"
          ],
          "backPressureObjectThreshold": 10000,
          "backPressureDataSizeThreshold": "1 GB",
          "flowFileExpiration": "0 sec",
          "prioritizers": [],
          "bends": [
            {
              "x": 840.0,
              "y": 824.0
            }
          ],
          "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute": "",
          "loadBalanceCompression": "DO_NOT_COMPRESS",
          "componentType": "CONNECTION",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "1449578a-eaa5-39b5-a60b-6634901d7db0",
          "instanceIdentifier": "214531a9-6069-1c9f-ab45-91a31e355967",
          "name": "",
          "source": {
            "id": "74955784-05d7-39f5-8269-6dcb86caa2a0",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "HandleHttpResponse200",
            "comments": "",
            "instanceIdentifier": "21453195-6069-1c9f-22a1-3f520e598237"
          },
          "destination": {
            "id": "08278fb7-cf07-3365-ba23-4fa5755c13b7",
            "type": "FUNNEL",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "Funnel",
            "comments": "",
            "instanceIdentifier": "2145318f-6069-1c9f-356f-7d26469b9df7"
          },
          "labelIndex": 1,
          "zIndex": 0,
          "selectedRelationships": [
            "failure"
          ],
          "backPressureObjectThreshold": 10000,
          "backPressureDataSizeThreshold": "1 GB",
          "flowFileExpiration": "0 sec",
          "prioritizers": [],
          "bends": [],
          "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute": "",
          "loadBalanceCompression": "DO_NOT_COMPRESS",
          "componentType": "CONNECTION",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "fa2ef3a3-2089-3257-8527-91bb78e31de9",
          "instanceIdentifier": "214531ad-6069-1c9f-defa-9d5f73b3e330",
          "name": "",
          "source": {
            "id": "de397840-0245-3a8f-8809-45e88001b1fe",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "HandleHttpRequest",
            "comments": "",
            "instanceIdentifier": "2145319d-6069-1c9f-3c62-3cc1fc50149f"
          },
          "destination": {
            "id": "cd4927b1-5cde-3399-9124-9c0c87684c50",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "UpdateAttribute",
            "comments": "",
            "instanceIdentifier": "2145319b-6069-1c9f-546a-0f00201036d2"
          },
          "labelIndex": 1,
          "zIndex": 0,
          "selectedRelationships": [
            "success"
          ],
          "backPressureObjectThreshold": 10000,
          "backPressureDataSizeThreshold": "1 GB",
          "flowFileExpiration": "0 sec",
          "prioritizers": [],
          "bends": [],
          "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute": "",
          "loadBalanceCompression": "DO_NOT_COMPRESS",
          "componentType": "CONNECTION",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "47335df0-5898-3523-89bc-6203087eed7f",
          "instanceIdentifier": "214531b0-6069-1c9f-a638-0405f68d5d69",
          "name": "",
          "source": {
            "id": "cd4927b1-5cde-3399-9124-9c0c87684c50",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "UpdateAttribute",
            "comments": "",
            "instanceIdentifier": "2145319b-6069-1c9f-546a-0f00201036d2"
          },
          "destination": {
            "id": "ef7c55f7-8175-3e15-98ca-2058a885c264",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "RouteOnAttribute1",
            "comments": "",
            "instanceIdentifier": "21453194-6069-1c9f-c2dd-0f23ab7d483c"
          },
          "labelIndex": 1,
          "zIndex": 0,
          "selectedRelationships": [
            "success"
          ],
          "backPressureObjectThreshold": 10000,
          "backPressureDataSizeThreshold": "1 GB",
          "flowFileExpiration": "0 sec",
          "prioritizers": [],
          "bends": [],
          "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute": "",
          "loadBalanceCompression": "DO_NOT_COMPRESS",
          "componentType": "CONNECTION",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "1ef86b63-215c-3052-80d3-7d8742efee7e",
          "instanceIdentifier": "214531b3-6069-1c9f-3e4a-9e9362382049",
          "name": "",
          "source": {
            "id": "7e873a24-0d21-34b6-89e1-57e3e4c06fab",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "ReplaceText401",
            "comments": "",
            "instanceIdentifier": "21453192-6069-1c9f-3a8c-2b803ae657c3"
          },
          "destination": {
            "id": "3be7971e-4963-3c96-8442-d27c48b1b15a",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "HandleHttpResponse401",
            "comments": "",
            "instanceIdentifier": "21453196-6069-1c9f-a09c-92bde73b53f0"
          },
          "labelIndex": 1,
          "zIndex": 0,
          "selectedRelationships": [
            "success"
          ],
          "backPressureObjectThreshold": 10000,
          "backPressureDataSizeThreshold": "1 GB",
          "flowFileExpiration": "0 sec",
          "prioritizers": [],
          "bends": [],
          "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute": "",
          "loadBalanceCompression": "DO_NOT_COMPRESS",
          "componentType": "CONNECTION",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "c0812850-1169-3ef9-9715-faf91d96694c",
          "instanceIdentifier": "214531a6-6069-1c9f-c30e-eceaa9c7cea8",
          "name": "",
          "source": {
            "id": "e6d0d80b-e82f-3c44-a1ec-3911afe38d56",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "RouteOnAttribute2",
            "comments": "",
            "instanceIdentifier": "21453198-6069-1c9f-00ce-4506b5b77b5a"
          },
          "destination": {
            "id": "eb302597-29af-3aca-af10-a3f1ecb7f1d9",
            "type": "FUNNEL",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "Funnel",
            "comments": "",
            "instanceIdentifier": "21453191-6069-1c9f-f2b3-7a8025a8f556"
          },
          "labelIndex": 1,
          "zIndex": 0,
          "selectedRelationships": [
            "ValidJson"
          ],
          "backPressureObjectThreshold": 10000,
          "backPressureDataSizeThreshold": "1 GB",
          "flowFileExpiration": "0 sec",
          "prioritizers": [],
          "bends": [],
          "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute": "",
          "loadBalanceCompression": "DO_NOT_COMPRESS",
          "componentType": "CONNECTION",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "ce853e8c-6ad7-3f1a-b9d0-030348be0e28",
          "instanceIdentifier": "214531a1-6069-1c9f-455a-f232127d4db0",
          "name": "",
          "source": {
            "id": "eb302597-29af-3aca-af10-a3f1ecb7f1d9",
            "type": "FUNNEL",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "Funnel",
            "comments": "",
            "instanceIdentifier": "21453191-6069-1c9f-f2b3-7a8025a8f556"
          },
          "destination": {
            "id": "a1cf47e3-cfed-31e0-8238-8dc0cae4f8f8",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "ReplaceText200",
            "comments": "",
            "instanceIdentifier": "21453199-6069-1c9f-f5af-1c230e99e47e"
          },
          "labelIndex": 1,
          "zIndex": 0,
          "selectedRelationships": [
            ""
          ],
          "backPressureObjectThreshold": 10000,
          "backPressureDataSizeThreshold": "1 GB",
          "flowFileExpiration": "0 sec",
          "prioritizers": [],
          "bends": [],
          "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute": "",
          "loadBalanceCompression": "DO_NOT_COMPRESS",
          "componentType": "CONNECTION",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "4e494fde-24d3-3080-b616-67394d1e1897",
          "instanceIdentifier": "214531a4-6069-1c9f-8629-9514f83f1070",
          "name": "",
          "source": {
            "id": "eb302597-29af-3aca-af10-a3f1ecb7f1d9",
            "type": "FUNNEL",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "Funnel",
            "comments": "",
            "instanceIdentifier": "21453191-6069-1c9f-f2b3-7a8025a8f556"
          },
          "destination": {
            "id": "3e39bb9d-c74f-3882-aad8-8a29915f3f85",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "MergeRecord",
            "comments": "",
            "instanceIdentifier": "21453197-6069-1c9f-569d-61acd13f50c4"
          },
          "labelIndex": 1,
          "zIndex": 0,
          "selectedRelationships": [
            ""
          ],
          "backPressureObjectThreshold": 10000,
          "backPressureDataSizeThreshold": "1 GB",
          "flowFileExpiration": "0 sec",
          "prioritizers": [],
          "bends": [],
          "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute": "",
          "loadBalanceCompression": "DO_NOT_COMPRESS",
          "componentType": "CONNECTION",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "f60ce09f-e397-3d56-8c35-985068855d0b",
          "instanceIdentifier": "214531a0-6069-1c9f-9710-af716c4e4be9",
          "name": "",
          "source": {
            "id": "e6d0d80b-e82f-3c44-a1ec-3911afe38d56",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "RouteOnAttribute2",
            "comments": "",
            "instanceIdentifier": "21453198-6069-1c9f-00ce-4506b5b77b5a"
          },
          "destination": {
            "id": "f2762567-e3d0-3b95-bb14-2529345375c2",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "ReplaceText400",
            "comments": "",
            "instanceIdentifier": "2145319a-6069-1c9f-b07e-6709c3793d86"
          },
          "labelIndex": 1,
          "zIndex": 0,
          "selectedRelationships": [
            "unmatched"
          ],
          "backPressureObjectThreshold": 10000,
          "backPressureDataSizeThreshold": "1 GB",
          "flowFileExpiration": "0 sec",
          "prioritizers": [],
          "bends": [],
          "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute": "",
          "loadBalanceCompression": "DO_NOT_COMPRESS",
          "componentType": "CONNECTION",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "ea9689bd-1267-332b-a091-41a67447848c",
          "instanceIdentifier": "214531b2-6069-1c9f-32ad-6e965282706d",
          "name": "",
          "source": {
            "id": "3be7971e-4963-3c96-8442-d27c48b1b15a",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "HandleHttpResponse401",
            "comments": "",
            "instanceIdentifier": "21453196-6069-1c9f-a09c-92bde73b53f0"
          },
          "destination": {
            "id": "f875c128-8d7e-34b5-9eb7-913ec82550cf",
            "type": "FUNNEL",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "Funnel",
            "comments": "",
            "instanceIdentifier": "2145318e-6069-1c9f-a483-643bb8df84b8"
          },
          "labelIndex": 1,
          "zIndex": 0,
          "selectedRelationships": [
            "failure"
          ],
          "backPressureObjectThreshold": 10000,
          "backPressureDataSizeThreshold": "1 GB",
          "flowFileExpiration": "0 sec",
          "prioritizers": [],
          "bends": [],
          "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute": "",
          "loadBalanceCompression": "DO_NOT_COMPRESS",
          "componentType": "CONNECTION",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "540949fc-8156-3120-b6ba-9adac9e29499",
          "instanceIdentifier": "214531b6-6069-1c9f-729f-84e9ed2e4aba",
          "name": "",
          "source": {
            "id": "3e39bb9d-c74f-3882-aad8-8a29915f3f85",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "MergeRecord",
            "comments": "",
            "instanceIdentifier": "21453197-6069-1c9f-569d-61acd13f50c4"
          },
          "destination": {
            "id": "7e4b8f11-1289-3f9b-aeea-612d60e69092",
            "type": "FUNNEL",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "Funnel",
            "comments": "",
            "instanceIdentifier": "21453190-6069-1c9f-1539-29e1b9461784"
          },
          "labelIndex": 1,
          "zIndex": 0,
          "selectedRelationships": [
            "failure"
          ],
          "backPressureObjectThreshold": 10000,
          "backPressureDataSizeThreshold": "1 GB",
          "flowFileExpiration": "0 sec",
          "prioritizers": [],
          "bends": [],
          "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute": "",
          "loadBalanceCompression": "DO_NOT_COMPRESS",
          "componentType": "CONNECTION",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "65d0a634-15bd-3a86-a258-84a1a43f1ac1",
          "instanceIdentifier": "214531b9-6069-1c9f-2519-b445e1697474",
          "name": "",
          "source": {
            "id": "7e873a24-0d21-34b6-89e1-57e3e4c06fab",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "ReplaceText401",
            "comments": "",
            "instanceIdentifier": "21453192-6069-1c9f-3a8c-2b803ae657c3"
          },
          "destination": {
            "id": "f875c128-8d7e-34b5-9eb7-913ec82550cf",
            "type": "FUNNEL",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "Funnel",
            "comments": "",
            "instanceIdentifier": "2145318e-6069-1c9f-a483-643bb8df84b8"
          },
          "labelIndex": 1,
          "zIndex": 0,
          "selectedRelationships": [
            "failure"
          ],
          "backPressureObjectThreshold": 10000,
          "backPressureDataSizeThreshold": "1 GB",
          "flowFileExpiration": "0 sec",
          "prioritizers": [],
          "bends": [],
          "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute": "",
          "loadBalanceCompression": "DO_NOT_COMPRESS",
          "componentType": "CONNECTION",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "bea2bbd8-892c-30c7-86ee-7240bb607949",
          "instanceIdentifier": "214531a3-6069-1c9f-dcaa-d5368868bb75",
          "name": "",
          "source": {
            "id": "ef7c55f7-8175-3e15-98ca-2058a885c264",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "RouteOnAttribute1",
            "comments": "",
            "instanceIdentifier": "21453194-6069-1c9f-c2dd-0f23ab7d483c"
          },
          "destination": {
            "id": "7e873a24-0d21-34b6-89e1-57e3e4c06fab",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "ReplaceText401",
            "comments": "",
            "instanceIdentifier": "21453192-6069-1c9f-3a8c-2b803ae657c3"
          },
          "labelIndex": 1,
          "zIndex": 0,
          "selectedRelationships": [
            "unmatched"
          ],
          "backPressureObjectThreshold": 10000,
          "backPressureDataSizeThreshold": "1 GB",
          "flowFileExpiration": "0 sec",
          "prioritizers": [],
          "bends": [],
          "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute": "",
          "loadBalanceCompression": "DO_NOT_COMPRESS",
          "componentType": "CONNECTION",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "b0b8386b-907e-3ee6-8e3a-3a2ab3ee817a",
          "instanceIdentifier": "214531aa-6069-1c9f-8a8f-48a0e0719535",
          "name": "",
          "source": {
            "id": "3e39bb9d-c74f-3882-aad8-8a29915f3f85",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "MergeRecord",
            "comments": "",
            "instanceIdentifier": "21453197-6069-1c9f-569d-61acd13f50c4"
          },
          "destination": {
            "id": "d870fd4c-ee50-3239-8ac0-2bb6fb61ada4",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "PutS3Object",
            "comments": "",
            "instanceIdentifier": "2145319e-6069-1c9f-c781-1ae2a42e7ef4"
          },
          "labelIndex": 1,
          "zIndex": 0,
          "selectedRelationships": [
            "merged"
          ],
          "backPressureObjectThreshold": 10000,
          "backPressureDataSizeThreshold": "1 GB",
          "flowFileExpiration": "0 sec",
          "prioritizers": [],
          "bends": [],
          "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute": "",
          "loadBalanceCompression": "DO_NOT_COMPRESS",
          "componentType": "CONNECTION",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "993ac8b4-ec2a-35e2-8c04-b446bfe76492",
          "instanceIdentifier": "2145319f-6069-1c9f-d7d1-d4ec9a04f4cf",
          "name": "",
          "source": {
            "id": "74955784-05d7-39f5-8269-6dcb86caa2a0",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "HandleHttpResponse200",
            "comments": "",
            "instanceIdentifier": "21453195-6069-1c9f-22a1-3f520e598237"
          },
          "destination": {
            "id": "08278fb7-cf07-3365-ba23-4fa5755c13b7",
            "type": "FUNNEL",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "Funnel",
            "comments": "",
            "instanceIdentifier": "2145318f-6069-1c9f-356f-7d26469b9df7"
          },
          "labelIndex": 1,
          "zIndex": 0,
          "selectedRelationships": [
            "success"
          ],
          "backPressureObjectThreshold": 10000,
          "backPressureDataSizeThreshold": "1 GB",
          "flowFileExpiration": "0 sec",
          "prioritizers": [],
          "bends": [
            {
              "x": 1368.0,
              "y": 712.0
            }
          ],
          "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute": "",
          "loadBalanceCompression": "DO_NOT_COMPRESS",
          "componentType": "CONNECTION",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "ce516cb8-4bd4-3cfa-9d3c-de9acde03b43",
          "instanceIdentifier": "214531b1-6069-1c9f-3b49-b9c04bc3198c",
          "name": "",
          "source": {
            "id": "a1cf47e3-cfed-31e0-8238-8dc0cae4f8f8",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "ReplaceText200",
            "comments": "",
            "instanceIdentifier": "21453199-6069-1c9f-f5af-1c230e99e47e"
          },
          "destination": {
            "id": "74955784-05d7-39f5-8269-6dcb86caa2a0",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "HandleHttpResponse200",
            "comments": "",
            "instanceIdentifier": "21453195-6069-1c9f-22a1-3f520e598237"
          },
          "labelIndex": 1,
          "zIndex": 0,
          "selectedRelationships": [
            "success"
          ],
          "backPressureObjectThreshold": 10000,
          "backPressureDataSizeThreshold": "1 GB",
          "flowFileExpiration": "0 sec",
          "prioritizers": [],
          "bends": [],
          "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute": "",
          "loadBalanceCompression": "DO_NOT_COMPRESS",
          "componentType": "CONNECTION",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "469b85ed-cf3a-3ce5-8429-a4ef4bee9383",
          "instanceIdentifier": "214531a7-6069-1c9f-bf0d-a83f07a02c54",
          "name": "",
          "source": {
            "id": "516efc8c-0833-3baf-a7ef-96ed4fd82bef",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "EvaluateJsonPath",
            "comments": "",
            "instanceIdentifier": "21453193-6069-1c9f-9715-c040c3b46c59"
          },
          "destination": {
            "id": "f2762567-e3d0-3b95-bb14-2529345375c2",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "ReplaceText400",
            "comments": "",
            "instanceIdentifier": "2145319a-6069-1c9f-b07e-6709c3793d86"
          },
          "labelIndex": 1,
          "zIndex": 0,
          "selectedRelationships": [
            "failure"
          ],
          "backPressureObjectThreshold": 10000,
          "backPressureDataSizeThreshold": "1 GB",
          "flowFileExpiration": "0 sec",
          "prioritizers": [],
          "bends": [],
          "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute": "",
          "loadBalanceCompression": "DO_NOT_COMPRESS",
          "componentType": "CONNECTION",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "bd707a99-ab8d-33d5-aabf-78f63cd391f2",
          "instanceIdentifier": "214531ac-6069-1c9f-80a9-62ad4597c695",
          "name": "",
          "source": {
            "id": "de43d765-eece-3dc9-b53d-86aee1ce56d0",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "HandleHttpResponse400",
            "comments": "",
            "instanceIdentifier": "2145319c-6069-1c9f-d349-763061958020"
          },
          "destination": {
            "id": "f875c128-8d7e-34b5-9eb7-913ec82550cf",
            "type": "FUNNEL",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "Funnel",
            "comments": "",
            "instanceIdentifier": "2145318e-6069-1c9f-a483-643bb8df84b8"
          },
          "labelIndex": 1,
          "zIndex": 0,
          "selectedRelationships": [
            "success"
          ],
          "backPressureObjectThreshold": 10000,
          "backPressureDataSizeThreshold": "1 GB",
          "flowFileExpiration": "0 sec",
          "prioritizers": [],
          "bends": [
            {
              "x": -320.0,
              "y": 872.0
            }
          ],
          "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute": "",
          "loadBalanceCompression": "DO_NOT_COMPRESS",
          "componentType": "CONNECTION",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "51070b26-0920-39b1-b286-b6aad071002c",
          "instanceIdentifier": "214531b5-6069-1c9f-4369-f12d0dc333cd",
          "name": "",
          "source": {
            "id": "516efc8c-0833-3baf-a7ef-96ed4fd82bef",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "EvaluateJsonPath",
            "comments": "",
            "instanceIdentifier": "21453193-6069-1c9f-9715-c040c3b46c59"
          },
          "destination": {
            "id": "f875c128-8d7e-34b5-9eb7-913ec82550cf",
            "type": "FUNNEL",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "Funnel",
            "comments": "",
            "instanceIdentifier": "2145318e-6069-1c9f-a483-643bb8df84b8"
          },
          "labelIndex": 1,
          "zIndex": 0,
          "selectedRelationships": [
            "unmatched"
          ],
          "backPressureObjectThreshold": 10000,
          "backPressureDataSizeThreshold": "1 GB",
          "flowFileExpiration": "0 sec",
          "prioritizers": [],
          "bends": [],
          "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute": "",
          "loadBalanceCompression": "DO_NOT_COMPRESS",
          "componentType": "CONNECTION",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "a4d21562-4ffb-3429-9a12-c2f64ca10f81",
          "instanceIdentifier": "214531b8-6069-1c9f-231f-c89e7b83773c",
          "name": "",
          "source": {
            "id": "f2762567-e3d0-3b95-bb14-2529345375c2",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "ReplaceText400",
            "comments": "",
            "instanceIdentifier": "2145319a-6069-1c9f-b07e-6709c3793d86"
          },
          "destination": {
            "id": "de43d765-eece-3dc9-b53d-86aee1ce56d0",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "HandleHttpResponse400",
            "comments": "",
            "instanceIdentifier": "2145319c-6069-1c9f-d349-763061958020"
          },
          "labelIndex": 1,
          "zIndex": 0,
          "selectedRelationships": [
            "success"
          ],
          "backPressureObjectThreshold": 10000,
          "backPressureDataSizeThreshold": "1 GB",
          "flowFileExpiration": "0 sec",
          "prioritizers": [],
          "bends": [],
          "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute": "",
          "loadBalanceCompression": "DO_NOT_COMPRESS",
          "componentType": "CONNECTION",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "198bba73-e4d8-30ae-8621-f750d9710cfe",
          "instanceIdentifier": "214531ae-6069-1c9f-7858-879a41a18996",
          "name": "",
          "source": {
            "id": "de43d765-eece-3dc9-b53d-86aee1ce56d0",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "HandleHttpResponse400",
            "comments": "",
            "instanceIdentifier": "2145319c-6069-1c9f-d349-763061958020"
          },
          "destination": {
            "id": "f875c128-8d7e-34b5-9eb7-913ec82550cf",
            "type": "FUNNEL",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "Funnel",
            "comments": "",
            "instanceIdentifier": "2145318e-6069-1c9f-a483-643bb8df84b8"
          },
          "labelIndex": 1,
          "zIndex": 0,
          "selectedRelationships": [
            "failure"
          ],
          "backPressureObjectThreshold": 10000,
          "backPressureDataSizeThreshold": "1 GB",
          "flowFileExpiration": "0 sec",
          "prioritizers": [],
          "bends": [],
          "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute": "",
          "loadBalanceCompression": "DO_NOT_COMPRESS",
          "componentType": "CONNECTION",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "1e8dcf6b-3cfb-3ccd-85e8-3289d98e0d8a",
          "instanceIdentifier": "214531b4-6069-1c9f-b004-d54626d9ab28",
          "name": "",
          "source": {
            "id": "a1cf47e3-cfed-31e0-8238-8dc0cae4f8f8",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "ReplaceText200",
            "comments": "",
            "instanceIdentifier": "21453199-6069-1c9f-f5af-1c230e99e47e"
          },
          "destination": {
            "id": "08278fb7-cf07-3365-ba23-4fa5755c13b7",
            "type": "FUNNEL",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "Funnel",
            "comments": "",
            "instanceIdentifier": "2145318f-6069-1c9f-356f-7d26469b9df7"
          },
          "labelIndex": 1,
          "zIndex": 0,
          "selectedRelationships": [
            "failure"
          ],
          "backPressureObjectThreshold": 10000,
          "backPressureDataSizeThreshold": "1 GB",
          "flowFileExpiration": "0 sec",
          "prioritizers": [],
          "bends": [],
          "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute": "",
          "loadBalanceCompression": "DO_NOT_COMPRESS",
          "componentType": "CONNECTION",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "e7f0bcde-5bf0-3bd4-842f-8ef9228c23f8",
          "instanceIdentifier": "214531a2-6069-1c9f-0e27-371e0bfafe5e",
          "name": "",
          "source": {
            "id": "516efc8c-0833-3baf-a7ef-96ed4fd82bef",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "EvaluateJsonPath",
            "comments": "",
            "instanceIdentifier": "21453193-6069-1c9f-9715-c040c3b46c59"
          },
          "destination": {
            "id": "e6d0d80b-e82f-3c44-a1ec-3911afe38d56",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "RouteOnAttribute2",
            "comments": "",
            "instanceIdentifier": "21453198-6069-1c9f-00ce-4506b5b77b5a"
          },
          "labelIndex": 1,
          "zIndex": 0,
          "selectedRelationships": [
            "matched"
          ],
          "backPressureObjectThreshold": 10000,
          "backPressureDataSizeThreshold": "1 GB",
          "flowFileExpiration": "0 sec",
          "prioritizers": [],
          "bends": [],
          "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute": "",
          "loadBalanceCompression": "DO_NOT_COMPRESS",
          "componentType": "CONNECTION",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "a96ae985-096b-3001-8d57-548f7d0d322e",
          "instanceIdentifier": "214531b7-6069-1c9f-202e-78371ecf8c7a",
          "name": "",
          "source": {
            "id": "3be7971e-4963-3c96-8442-d27c48b1b15a",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "HandleHttpResponse401",
            "comments": "",
            "instanceIdentifier": "21453196-6069-1c9f-a09c-92bde73b53f0"
          },
          "destination": {
            "id": "f875c128-8d7e-34b5-9eb7-913ec82550cf",
            "type": "FUNNEL",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "Funnel",
            "comments": "",
            "instanceIdentifier": "2145318e-6069-1c9f-a483-643bb8df84b8"
          },
          "labelIndex": 1,
          "zIndex": 0,
          "selectedRelationships": [
            "success"
          ],
          "backPressureObjectThreshold": 10000,
          "backPressureDataSizeThreshold": "1 GB",
          "flowFileExpiration": "0 sec",
          "prioritizers": [],
          "bends": [
            {
              "x": -628.0,
              "y": 717.0
            }
          ],
          "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute": "",
          "loadBalanceCompression": "DO_NOT_COMPRESS",
          "componentType": "CONNECTION",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "9dcbc94f-bc12-34f1-9467-2b8ceb15f0b7",
          "instanceIdentifier": "214531af-6069-1c9f-75bf-70e1840b90f5",
          "name": "",
          "source": {
            "id": "ef7c55f7-8175-3e15-98ca-2058a885c264",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "RouteOnAttribute1",
            "comments": "",
            "instanceIdentifier": "21453194-6069-1c9f-c2dd-0f23ab7d483c"
          },
          "destination": {
            "id": "516efc8c-0833-3baf-a7ef-96ed4fd82bef",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "EvaluateJsonPath",
            "comments": "",
            "instanceIdentifier": "21453193-6069-1c9f-9715-c040c3b46c59"
          },
          "labelIndex": 1,
          "zIndex": 0,
          "selectedRelationships": [
            "auth"
          ],
          "backPressureObjectThreshold": 10000,
          "backPressureDataSizeThreshold": "1 GB",
          "flowFileExpiration": "0 sec",
          "prioritizers": [],
          "bends": [],
          "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute": "",
          "loadBalanceCompression": "DO_NOT_COMPRESS",
          "componentType": "CONNECTION",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "e09ffe27-4341-3f15-8044-da4fd66b734a",
          "instanceIdentifier": "214531a5-6069-1c9f-bee5-6bb85c57249b",
          "name": "",
          "source": {
            "id": "f2762567-e3d0-3b95-bb14-2529345375c2",
            "type": "PROCESSOR",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "ReplaceText400",
            "comments": "",
            "instanceIdentifier": "2145319a-6069-1c9f-b07e-6709c3793d86"
          },
          "destination": {
            "id": "f875c128-8d7e-34b5-9eb7-913ec82550cf",
            "type": "FUNNEL",
            "groupId": "6c4f8132-6757-3360-8410-31d5791aec8f",
            "name": "Funnel",
            "comments": "",
            "instanceIdentifier": "2145318e-6069-1c9f-a483-643bb8df84b8"
          },
          "labelIndex": 1,
          "zIndex": 0,
          "selectedRelationships": [
            "failure"
          ],
          "backPressureObjectThreshold": 10000,
          "backPressureDataSizeThreshold": "1 GB",
          "flowFileExpiration": "0 sec",
          "prioritizers": [],
          "bends": [],
          "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
          "partitioningAttribute": "",
          "loadBalanceCompression": "DO_NOT_COMPRESS",
          "componentType": "CONNECTION",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        }
      ],
      "labels": [],
      "funnels": [
        {
          "identifier": "f875c128-8d7e-34b5-9eb7-913ec82550cf",
          "instanceIdentifier": "2145318e-6069-1c9f-a483-643bb8df84b8",
          "position": {
            "x": -432.0,
            "y": 720.0
          },
          "componentType": "FUNNEL",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "eb302597-29af-3aca-af10-a3f1ecb7f1d9",
          "instanceIdentifier": "21453191-6069-1c9f-f2b3-7a8025a8f556",
          "position": {
            "x": 592.0,
            "y": 304.0
          },
          "componentType": "FUNNEL",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "7e4b8f11-1289-3f9b-aeea-612d60e69092",
          "instanceIdentifier": "21453190-6069-1c9f-1539-29e1b9461784",
          "position": {
            "x": 768.0,
            "y": 656.0
          },
          "componentType": "FUNNEL",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "08278fb7-cf07-3365-ba23-4fa5755c13b7",
          "instanceIdentifier": "2145318f-6069-1c9f-356f-7d26469b9df7",
          "position": {
            "x": 1360.0,
            "y": 496.0
          },
          "componentType": "FUNNEL",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        }
      ],
      "controllerServices": [
        {
          "identifier": "0c614f98-6e0c-3a9f-a6f5-1bde1fa1663a",
          "instanceIdentifier": "38a43a00-bba3-1f4f-3946-0a20c9a6614e",
          "name": "ParquetRecordSetWriter",
          "comments": "",
          "type": "org.apache.nifi.parquet.ParquetRecordSetWriter",
          "bundle": {
            "group": "org.apache.nifi",
            "artifact": "nifi-parquet-nar",
            "version": "1.27.0"
          },
          "properties": {
            "schema-branch": null,
            "max-padding-size": null,
            "avro-write-old-list-structure": "true",
            "row-group-size": null,
            "schema-cache": null,
            "enable-dictionary-encoding": null,
            "Schema Write Strategy": "no-schema",
            "page-size": null,
            "writer-version": null,
            "compression-type": "SNAPPY",
            "schema-name": "${schema.name}",
            "cache-size": "1000",
            "schema-registry": null,
            "enable-validation": null,
            "dictionary-page-size": null,
            "int96-fields": null,
            "schema-access-strategy": "inherit-record-schema",
            "schema-protocol-version": "1",
            "schema-version": null,
            "schema-text": "${avro.schema}",
            "avro-add-list-element-records": "true"
          },
          "propertyDescriptors": {
            "schema-branch": {
              "name": "schema-branch",
              "displayName": "Schema Branch",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "max-padding-size": {
              "name": "max-padding-size",
              "displayName": "Max Padding Size",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "avro-write-old-list-structure": {
              "name": "avro-write-old-list-structure",
              "displayName": "Avro Write Old List Structure",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "row-group-size": {
              "name": "row-group-size",
              "displayName": "Row Group Size",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "schema-cache": {
              "name": "schema-cache",
              "displayName": "Schema Cache",
              "identifiesControllerService": true,
              "sensitive": false
            },
            "enable-dictionary-encoding": {
              "name": "enable-dictionary-encoding",
              "displayName": "Enable Dictionary Encoding",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Schema Write Strategy": {
              "name": "Schema Write Strategy",
              "displayName": "Schema Write Strategy",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "page-size": {
              "name": "page-size",
              "displayName": "Page Size",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "writer-version": {
              "name": "writer-version",
              "displayName": "Writer Version",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "compression-type": {
              "name": "compression-type",
              "displayName": "Compression Type",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "schema-name": {
              "name": "schema-name",
              "displayName": "Schema Name",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "cache-size": {
              "name": "cache-size",
              "displayName": "Cache Size",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "schema-registry": {
              "name": "schema-registry",
              "displayName": "Schema Registry",
              "identifiesControllerService": true,
              "sensitive": false
            },
            "enable-validation": {
              "name": "enable-validation",
              "displayName": "Enable Validation",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "dictionary-page-size": {
              "name": "dictionary-page-size",
              "displayName": "Dictionary Page Size",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "int96-fields": {
              "name": "int96-fields",
              "displayName": "INT96 Fields",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "schema-access-strategy": {
              "name": "schema-access-strategy",
              "displayName": "Schema Access Strategy",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "schema-protocol-version": {
              "name": "schema-protocol-version",
              "displayName": "Schema Protocol Version",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "schema-version": {
              "name": "schema-version",
              "displayName": "Schema Version",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "schema-text": {
              "name": "schema-text",
              "displayName": "Schema Text",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "avro-add-list-element-records": {
              "name": "avro-add-list-element-records",
              "displayName": "Avro Add List Element Records",
              "identifiesControllerService": false,
              "sensitive": false
            }
          },
          "controllerServiceApis": [
            {
              "type": "org.apache.nifi.serialization.RecordSetWriterFactory",
              "bundle": {
                "group": "org.apache.nifi",
                "artifact": "nifi-standard-services-api-nar",
                "version": "1.27.0"
              }
            }
          ],
          "scheduledState": "DISABLED",
          "bulletinLevel": "WARN",
          "componentType": "CONTROLLER_SERVICE",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "a9cadc94-9a49-3449-af5b-edcb4f18f1c6",
          "instanceIdentifier": "2145318c-6069-1c9f-7290-e8e2dd31f825",
          "name": "StandardHttpContextMap",
          "comments": "",
          "type": "org.apache.nifi.http.StandardHttpContextMap",
          "bundle": {
            "group": "org.apache.nifi",
            "artifact": "nifi-http-context-map-nar",
            "version": "1.27.0"
          },
          "properties": {
            "Request Expiration": "1 min",
            "Maximum Outstanding Requests": "5000"
          },
          "propertyDescriptors": {
            "Request Expiration": {
              "name": "Request Expiration",
              "displayName": "Request Expiration",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Maximum Outstanding Requests": {
              "name": "Maximum Outstanding Requests",
              "displayName": "Maximum Outstanding Requests",
              "identifiesControllerService": false,
              "sensitive": false
            }
          },
          "controllerServiceApis": [
            {
              "type": "org.apache.nifi.http.HttpContextMap",
              "bundle": {
                "group": "org.apache.nifi",
                "artifact": "nifi-standard-services-api-nar",
                "version": "1.27.0"
              }
            }
          ],
          "scheduledState": "DISABLED",
          "bulletinLevel": "WARN",
          "componentType": "CONTROLLER_SERVICE",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        },
        {
          "identifier": "da7282fc-be42-3b54-967e-7e7e1871d8e7",
          "instanceIdentifier": "2145318d-6069-1c9f-e300-1e81262a42fa",
          "name": "JsonTreeReader",
          "comments": "",
          "type": "org.apache.nifi.json.JsonTreeReader",
          "bundle": {
            "group": "org.apache.nifi",
            "artifact": "nifi-record-serialization-services-nar",
            "version": "1.27.0"
          },
          "properties": {
            "schema-branch": null,
            "Max String Length": "20 MB",
            "schema-application-strategy": "SELECTED_PART",
            "Timestamp Format": null,
            "schema-inference-cache": null,
            "Date Format": null,
            "schema-name": "${schema.name}",
            "starting-field-strategy": "ROOT_NODE",
            "schema-registry": null,
            "starting-field-name": null,
            "Time Format": null,
            "schema-access-strategy": "infer-schema",
            "schema-version": null,
            "schema-text": "${avro.schema}",
            "Allow Comments": "false"
          },
          "propertyDescriptors": {
            "schema-branch": {
              "name": "schema-branch",
              "displayName": "Schema Branch",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Max String Length": {
              "name": "Max String Length",
              "displayName": "Max String Length",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "schema-application-strategy": {
              "name": "schema-application-strategy",
              "displayName": "Schema Application Strategy",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Timestamp Format": {
              "name": "Timestamp Format",
              "displayName": "Timestamp Format",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "schema-inference-cache": {
              "name": "schema-inference-cache",
              "displayName": "Schema Inference Cache",
              "identifiesControllerService": true,
              "sensitive": false
            },
            "Date Format": {
              "name": "Date Format",
              "displayName": "Date Format",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "schema-name": {
              "name": "schema-name",
              "displayName": "Schema Name",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "starting-field-strategy": {
              "name": "starting-field-strategy",
              "displayName": "Starting Field Strategy",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "schema-registry": {
              "name": "schema-registry",
              "displayName": "Schema Registry",
              "identifiesControllerService": true,
              "sensitive": false
            },
            "starting-field-name": {
              "name": "starting-field-name",
              "displayName": "Starting Field Name",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Time Format": {
              "name": "Time Format",
              "displayName": "Time Format",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "schema-access-strategy": {
              "name": "schema-access-strategy",
              "displayName": "Schema Access Strategy",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "schema-version": {
              "name": "schema-version",
              "displayName": "Schema Version",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "schema-text": {
              "name": "schema-text",
              "displayName": "Schema Text",
              "identifiesControllerService": false,
              "sensitive": false
            },
            "Allow Comments": {
              "name": "Allow Comments",
              "displayName": "Allow Comments",
              "identifiesControllerService": false,
              "sensitive": false
            }
          },
          "controllerServiceApis": [
            {
              "type": "org.apache.nifi.serialization.RecordReaderFactory",
              "bundle": {
                "group": "org.apache.nifi",
                "artifact": "nifi-standard-services-api-nar",
                "version": "1.27.0"
              }
            }
          ],
          "scheduledState": "DISABLED",
          "bulletinLevel": "WARN",
          "componentType": "CONTROLLER_SERVICE",
          "groupIdentifier": "6c4f8132-6757-3360-8410-31d5791aec8f"
        }
      ],
      "variables": {},
      "defaultFlowFileExpiration": "0 sec",
      "defaultBackPressureObjectThreshold": 10000,
      "defaultBackPressureDataSizeThreshold": "1 GB",
      "logFileSuffix": "",
      "componentType": "PROCESS_GROUP",
      "flowFileConcurrency": "UNBOUNDED",
      "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE"
    },
    "externalControllerServices": {},
    "parameterContexts": {},
    "flowEncodingVersion": "1.0",
    "parameterProviders": {},
    "latest": false
  }